@page "/passwordexpired/"
@page "/passwordexpired/{RedirectURL}"

@inherits MovieTraders.Blazor.PageBase.Common

<div class="container form-wrapper">

    <FormHeader Title="Please change your password" />

    <EditForm Model="@input" OnValidSubmit="@ValidSubmit">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="password" class="form-control" @bind="input.Password" />
            <ValidationMessage For="@(() => input.Password)" />
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <input type="password" class="form-control" @bind="input.ConfirmPassword" />
            <ValidationMessage For="@(() => input.ConfirmPassword)" />
        </div>

        <SaveDisable Saving="@Saving" SaveButtonText="Change Password" />

    </EditForm>

</div>