@page "/tradestart"

@inherits MovieTraders.Blazor.PageBase.Common

<h3>Movies available in your County</h3>

@if (Movies != null)
{
    <table class="table table-striped table-responsive w-100 d-block d-md-table">
        <thead>
            <tr>
                <th class="align-middle text-left">Title</th>
                <th class="align-middle text-left">Year</th>
                <th class="align-middle text-left">Genre</th>
                <th class="align-middle text-left">Link</th>
                <th class="align-middle text-left">Format</th>
                <th class="align-middle text-center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Movies)
            {
                <tr>
                    <td class="align-middle text-left">@movie.Title</td>
                    <td class="align-middle text-left">@movie.Year</td>
                    <td class="align-middle text-left">@MovieTraders.Data.StaticData.GenreName(movie.GenreId)</td>
                    <td class="align-middle text-left"><a href="@movie.Link" target="_blank">Link</a></td>
                    <td class="align-middle text-left">@MovieTraders.Data.StaticData.FormatName(@movie.FormatId)</td>
                    <td class="align-middle text-center"><a class="btn btn-outline-primary" href="/tradeinitialize/@movie.UserMovieId/@movie.MovieId" title="Add Movie"><span class="oi oi-external-link" /></a></td>
                </tr>
            }
        </tbody>
    </table>

    if (PageCount > 1)
    {
        for (int idx = 1; idx <= PageCount; idx++)
        {
            <a href="javascript:void(0)"@onclick="(()=> GoToPage(idx))">@idx</a>
        }
    } 
}
